@import './mediaqueries.scss';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.todo__project {
  .todo__project__input__container {
    width: 100vw;
    height: 30vh;
    background-color: coral;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include for-tablet-and-mobile {
      flex-direction: column;
    }

    .todo__project__input {
      width: 25%;
      border: 1px solid #000;
      border-radius: 15px;
      height: 20px;
      padding: 10px;

      &:focus {
        background-color: #000;
        color: #fff;
      }

      @include for-tablet-and-mobile {
        width: 80%;
      }
    }

    .todo__project__add__button {
      width: 20%;
      border: 1px solid #000;
      border-radius: 15px;
      background-color: #fff;
      color: #000;
      padding: 10px;

      &:hover {
        background-color: #000;
        color: #fff;
      }

       @include for-tablet-and-mobile {
        width: 40%;
      }
    }
  }

  .todo__project__card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #fff;

    .todo__project__card {
      width: 30vw;
      margin: 20px auto;
      border: 1px solid #000;
      padding: 20px;
      border-radius: 15px;
      background-color: coral;
      color: #000;

      @include for-tablet-and-mobile {
        width: 80vw;
      }

      .todo__project__card__para {
        .todo__project__card__para__title {
          font-weight: 500;
          font-style: italic;
        }
      }

      .todo__project__card__completed__button {
        border: 1px solid #000;
        border-radius: 15px;
        background-color: #fff;
        color: #000;
        padding: 10px;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.todo__project__modal__screen {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.516);
  display: flex;
  justify-content: center;
  align-items: center;

  .todo__project__modal__container {
    position: relative;
    width: 30vw;
    height: 20vh;
    background-color: #fff;
    border: 1px solid #000;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    @include for-tablet-and-mobile {
      width: 50vw;
    }
  }

  .todo__project__modal__text {
    padding: 20px;
    text-align: center;
  }

  .todo__project__modal__close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer
  }
}